.merch {
  text-align: center;
  color: black;
}

h1{
  margin:100px;
}

.merch:hover {
  color: #00ff2e;
  text-decoration: none !important;
}

.merchLink:hover {
  color: #00ff2e !important;
  text-decoration: none !important;
}

.card:hover{
  box-shadow: 4px 4px 4px 1px rgba(0, 0, 0, 0.112);
}
