.never {
  background-color: #34fbaa;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  padding: 40px 0px 40px 0px;
  background-position: top center;
}

.gn {
  background-color: #00FF2E;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  width: 100%;
  padding: 40px 0px 40px 0px;
  margin-top:-10px;
  background-position: top center;
}

.image {
  max-width: 700px;
  width: 90%;
  display: block;
  margin: 0 auto;
}
